@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oo3qv8');
  src:  url('../fonts/icomoon.eot?oo3qv8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oo3qv8') format('truetype'),
    url('../fonts/icomoon.woff?oo3qv8') format('woff'),
    url('../fonts/icomoon.svg?oo3qv8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e900";
}
.icon-err:before {
  content: "\e902";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-spinner:before {
  content: "\e97b";
}


@-o-keyframes myrotate {
  from {
      transform: rotate(180deg);
  }
  to {
      transform: rotate(-180deg);
  }
}

@-moz-keyframes myrotate {
  from {
      transform: rotate(180deg);
  }
  to {
      transform: rotate(-180deg);
  }
}

@-o-keyframes myrotate {
  from {
      transform: rotate(180deg);
  }
  to {
      transform: rotate(-180deg);
  }
}

@keyframes myrotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}