* {
    padding: 0;
    margin: 0;
}

.verfication-code {
    width: 220px;
    height: 40px;
    background: #f7f9fa;
    border-radius: 3px;
    border: 1px solid #bdc3c7;
    position: relative;
    box-sizing: content-box;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.inner {
    line-height: 40px;
}

.slide {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 3px;
    border-right: 1px solid #bdc3c7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #34495e;
    background: #fff;
    transition-duration: 0.5s;
    cursor: pointer;
    z-index: 100;
}

.slide:hover {
    color: #fff;
    background: #1991fa;
}

.slide.moving {
    transition-property: background, color;
    color: #fff;
    background: #1991fa;
}

.slide.unready {
    cursor: not-allowed;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border: 1px solid #1991fa;
    background: #d1e9fe;
    border-right: none;
}

.image-container {
    opacity: 0;
    position: absolute;
    bottom: 35px;
    transition-duration: 0.1s;
    transition-property: bottom, opacity;
    border-radius: 3px;
}

.image-container.show {
    opacity: 1;
    bottom: 45px;
}

.image-container>div {
    position: relative;
    background: #ccc;
}

.image-container .icon-spinner {
    position: absolute;
    top: calc((100% - 40px) / 2);
    left: calc((100% - 40px) / 2);
    font-size: 40px;
    animation: myrotate 1.5s infinite linear;
    z-index: 0;
}

.image-canvas {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: opacity .5s;
}

.puzzle-canvas {
    position: absolute;
    top: 0;
    z-index: 100;
    transition-duration: 0.5s;
    transition-property: left;
}

.puzzle-canvas.moving {
    transition-property: background, color;
}

.verfication-code.success .outer {
    background: #d2f4ef;
    border: 1px solid #52ccba;
}

.verfication-code.success .slide {
    background: #52ccba;
    border: 1px solid #52ccba;
    color: #fff;
    cursor: auto;
}

.verfication-code.error {
    border: 1px solid #f57a7a;
}

.verfication-code.error .outer {
    background: #fce1e1;
    border: none;
}

.verfication-code.error .slide {
    background: rgba(248, 145, 145, 0.753);
    color: #fff;
}

.icon {
    font-size: 18px;
}

.icon::before {
    line-height: 40px;
}

.icon-refresh {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}

.icon-refresh::before {
    line-height: 0;
}